{% extends '/main/base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block body %}
{% if is_granted('ROLE_ADMIN') %}
{% set position = 1%}
{% set netSubtotal = 0 %}

<div class="title">
    <b><h1>Order Details</h1></b>
</div>

<div class="container">
    <div class="order-details-info">
        Invoice Date: {{ invoice.invoiceDate|date('d.m.Y') }}<br>
        Delivery Date: {{ invoice.deliveryDate|date('d.m.Y') }}<br>
        Invoice Number: {{ invoice.invoiceNumber }}
        <hr>
        Status: {{ invoice.status }}
    </div>

    <div>
        <table>
            <tr>
                <th>Pos.</th>
                <th>Art.-Nr.</th>
                <th>Title</th>
                <th>Amount</th>
                <th>Unitprice</th>
                <th>Total Price</th>
            </tr>
            {% for product in products %}
            <tr>
                <td>{{ position }}</td>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.amount }}</td>
                <td>{{ (product.netPrice / 100)|number_format(2, ',', '.')}} €</td>
                <td>{{ (product.netPrice * product.amount / 100)|number_format(2, ',', '.')}} €</td>
            </tr>
            {% set position = position + 1 %}
            {% set netSubtotal = netSubtotal + product.netPrice * product.amount %}
            {% endfor %}
        </table>
        <hr>

        <div>
            <div style="float:right; display: block; text-align: right">
                {{ (netSubtotal / 100)|number_format(2, ',', '.')}} €<br>
                {{ ((netSubtotal * 19 / 100) / 100)|number_format(2, ',', '.')}} €<br>
                <hr>
                <b>{{ ((netSubtotal * 119 / 100) / 100)|number_format(2, ',', '.')}} €</b>
            </div>
            <div style="float:right; display: block; margin-right: 10px; text-align: right">
                Net-Subtotal<br>
                19,00% Tax<br>
                <hr>
                <b>Subtotal</b>
            </div>

        </div>
    </div>

{% endif %}
{% endblock %}
