

{% set i = 0 %}
{% set isAdminAndHasAddCardSet = is_granted('ROLE_ADMIN') %}

{% for product in products %}

<script>
    function confirmDelete(product)
    {
        var productName = product.dataset.name;
        var productId = product.dataset.id;

        // document.addEventListener('DOMContentLoaded', () => {
        //     var productId = document.querySelectorAll('[data-product-id]');

        //     productName = document.querySelectorAll('[data-product-name]');
        //     console.log(productId);
        // })
        if (confirm('Are you sure you want to delete the product: ' + productName))
        {
            window.location.href = '/product/delete/' + productId;
            // window.location.href = "{{ '/product/delete/' ~ product.id }}";
        }else
        {
            window.location.href = "https://127.0.0.1:8000/products";
        }
    }
</script>

    {% if i % 4 == 0 %}
    <div class="row gx-5 mt-5">
    {% endif %}
    
    {% if isAdminAndHasAddCardSet %}
    {% set isAdminAndHasAddCardSet = false %}
        <div class="col-3">
            <div class="card product" style="height: 100%;">
                <div class="card-header" style="color:#D4ADFC;">ADD NEW PRODUCT</div>
                <a href={{ '/product/new/' }} style="margin: auto auto auto auto;">
                    <div style="display:flex; justify-content:center; align-items: center; height: 20rem; width: 20rem; border: 2px solid #D4ADFC; border-radius:100%;">
                        <div style="font-size: 15rem; margin-bottom: 3rem">
                        +
                        </div>
                    </div>
                </a>
            </div>
        </div>
    {% set i = i + 1 %}
    {% endif %}
    {% if product.state == 'live'%}
        <div class="col-3">
            <div class="card product" style="width:450px; height: 600px;">
                <div class="card-header" style="color:#D4ADFC;">{{ product.name }}</div>
                <div class="card-body" style="padding: 0%; height: 50%;"> {# justify-content: center #}
                    <img src="{{ asset('pictures/products/' ~ product.pictureFilename)}}" class="card-img" alt="loading failed" style="height: 100%; width: auto; margin-left: auto; margin-right: auto; display: block; border: solid #0C134F 1rem">
                </div>
                <div class="card-footer">
                    <p>{{ product.description }}</p>
                    <p><b style="font-size: 1.5rem;">{{ product.price / 100 }} €</b></p>
                    <a href={{ '/product/details/' ~ product.slug }} class="btn btn-primary">Details</a>
                    <a href={{ '/product/add/' ~ product.id }} class="btn btn-success">Add to basket</a>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href={{ '/product/edit/' ~ product.id }} class="btn btn-warning">Edit Product</a>
                        <button class="btn btn-danger" onclick="confirmDelete(this)" data-id="{{product.id}}" data-name="{{product.name}}">DELETE</button>
                    {% endif %}
                </div>
            </div>
        </div>
    {% elseif product.state == 'draft' and is_granted('ROLE_ADMIN') %}
    <div class="col-3">
        <div class="card product" style="width:450px; height: 600px;">
            <div class="card-header" style="color:#D4ADFC;">{{ product.name }}</div>
            <div class="card-body" style="padding: 0%; height: 50%;"> {# justify-content: center #}
                <img src="{{ asset('pictures/products/' ~ product.pictureFilename)}}" class="card-img" alt="loading failed" style="height: 100%; width: auto; margin-left: auto; margin-right: auto; display: block; border: solid #0C134F 1rem; opacity: 0.2">
                <div style="position: absolute; top: 30%; left: 13.7%; font-size:7rem; transform: rotate(45deg)">
                    DRAFT
                </div>
            </div>
            <div class="card-footer">
                <p>{{ product.description }}</p>
                <p><b style="font-size: 1.5rem;">{{ product.price / 100 }} €</b></p>
                <a href={{ '/product/details/' ~ product.slug }} class="btn btn-primary">Details</a>
                <a href={{ '/product/add/' ~ product.id }} class="btn btn-success">Add to basket</a>
                {% if is_granted('ROLE_ADMIN') %}
                    <a href={{ '/product/edit/' ~ product.id }} class="btn btn-warning">Edit Product</a>
                    <button class="btn btn-danger" onclick="confirmDelete(this)" data-id="{{product.id}}" data-name="{{product.name}}">DELETE</button>
                    {# <button href={{ '/product/delete/' ~ product.id }} class="btn btn-danger" onclick="confirmDelete(product.id, product.name)">DELETE</button> #}
                {% endif %}
            </div>
        </div>
    </div>
    {% endif %}
    {% if i % 4 == 3 %}    
    </div>
    {% endif %}

    {% set i = i + 1 %}
    
{% endfor %}