

{% set i = 0 %}
{% set isAdminAndHasAddCardSet = is_granted('ROLE_ADMIN') %}

{% for product in products %}

<script>
    function confirmDelete()
    {
        if (confirm('Are you sure you want to delete the product: {{ product.name }}'))
        {
            window.location.href = "{{ '/product/delete/' ~ product.id }}";
        }else
        {
            window.location.href = "https://127.0.0.1:8000/products";
        }
    }
</script>

    {% if i % 4 == 0 %}
    <div class="row gx-5 mt-5">
    {% endif %}
    
    {% if isAdminAndHasAddCardSet %}
    {% set isAdminAndHasAddCardSet = false %}
        <div class="col-3">
            <div class="card product" style="height: 100%;">
                <div class="card-header" style="color:#D4ADFC;">ADD NEW PRODUCT</div>
                <a href={{ '/product/new/' }} style="margin: auto auto auto auto;">
                    <div style="display:flex; justify-content:center; align-items: center; height: 20rem; width: 20rem; border: 2px solid #D4ADFC; border-radius:100%;">
                        <div style="font-size: 15rem; margin-bottom: 3rem">
                        +
                        </div>
                    </div>
                </a>
            </div>
        </div>
    {% set i = i + 1 %}
    {% endif %}
    {% if product.state == 'live'%}
        <div class="col-3">
            <div class="card product">
                <div class="card-header" style="color:#D4ADFC;">{{ product.name }}</div>
                <div class="card-body" style="padding: 0%">
                    {{ '/public/pictures/products/' ~ product.pictureFilename }}
                    <img src="{{ asset('/public/pictures/products/' ~ product.pictureFilename)}}" class="card-img" alt="loading failed">
                </div>
                <div class="card-footer">
                    <p>{{ product.description }}</p>
                    <a href={{ '/product/details/' ~ product.slug }} class="btn btn-primary">Details</a>
                    <a href={{ '/product/add/' ~ product.id }} class="btn btn-success">Add to basket</a>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href={{ '/product/edit/' ~ product.id }} class="btn btn-warning">Edit Product</a>
                        {# <a href={{ '/product/delete/' ~ product.id }} class="btn btn-danger" style="margin-top: 1rem;" onclick="window.confirm('Are you sure you want to delete the Product?')">DELETE PRODUCT</a> #}
                        <button href={{ '/product/delete/' ~ product.id }} class="btn btn-danger" onclick="confirmDelete()">DELETE</button>
                    {% endif %}
                </div>
            </div>
        </div>
    {% elseif product.state == 'draft' and is_granted('ROLE_ADMIN') %}
        <div class="col-3">
            <div class="card product">
                <div class="card-header" style="color:#D4ADFC;">{{ product.name }}</div>
                <div class="card-body" style="padding: 0%">
                    <img src="https://placekitten.com/400/500" class="card-img" alt="loading failed" style="opacity: 0.2;">
                    <div style="position: absolute; top: 50%; left: 50%;">
                        <h1>DRAFT</h1>
                    </div>
                </div>
                <div class="card-footer">
                    <p>{{ product.description }}</p>
                    <a href={{ '/product/details/' ~ product.slug }} class="btn btn-primary">Details</a>
                    <a href={{ '/product/add/' ~ product.id }} class="btn btn-success">Add to basket</a>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href={{ '/product/edit/' ~ product.id }} class="btn btn-warning">Edit Product</a>
                        {# <a href={{ '/product/delete/' ~ product.id }} class="btn btn-danger" style="margin-top: 1rem;" onclick="window.confirm('Are you sure you want to delete the Product?')">DELETE PRODUCT</a> #}
                        <button href={{ '/product/delete/' ~ product.id }} class="btn btn-danger" onclick="confirmDelete()">DELETE</button>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}
    {% if i % 4 == 3 %}    
    </div>
    {% endif %}

    {% set i = i + 1 %}
    
{% endfor %}