{% extends '/main/base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block body %}

<section class="container">
    <div class="card product" style="margin-top: 2rem;">
        <div class="card-header" style="color:#D4ADFC; border-bottom: solid 1px #5C469C">
            <h2>{{product.name}}</h2>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-4">
                    <img src="{{ asset('pictures/products/' ~ product.pictureFilename)}}" class="card-img" alt="loading failed" style="height: 40rem; width: auto; margin-left: auto; margin-right: auto; display: block; border: solid #0C134F 1rem;">
                </div>
                <div class="col-8" style="position: relative;">
                    <div style="float: right;">
                        Category: {{product.category.label}}
                    </div>
                    {{product.description}}


                    <div style="position: absolute; bottom: 0px; right: 1rem; border-top: solid 1px #5C469C">
                        <h1>Price: <b>{{product.price / 100}} €</b></h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <a href={{ '/product/add/' ~ product.id }} class="btn btn-success">Add to basket</a>
        </div>
    </div>
</section>
{% endblock %}
