{% extends '/main/base.html.twig' %}

{% block title %}Shipment{% endblock %}

{% block body %}
{% if is_granted('ROLE_ADMIN') %}
<script>
    function newCategory()
    {
        let category = [];
        category.push(prompt("Please enter the name of the new category", "Category name"));

        if(category[0] != null)
        {
            if(confirm("Shall this be a subcategory?"))
            {
                category.push(prompt("Enter the name of the parent category", "Category name"));
            }

            var xhttp = new XMLHttpRequest();

            xhttp.open("POST", "/product/category/new", false);
            xhttp.send(category);
            location.reload();
        }
    }

    function changeToDraft(checkbox)
    {
        if(checkbox.checked)
        {
            alert('If you change from live to draft, any cart position containing this product will be deleted!');
        }
    }


</script>


    <div class="container" style="margin-top: 3rem; width: 60rem">
        <div class="card product" style="color:#D4ADFC">
            <div class="card-body">
                <h1>Edit Product</h1>
                {# {{form(form)}} #}

                {{ form_start(form) }}
                    {{ form_row(form.name) }}
                    {{ form_row(form.category) }}
                    {{ form_row(form.newCategory) }}
                    {{ form_row(form.description) }}
                    {{ form_row(form.price) }}
                    {{ form_row(form.picture) }}
                    <div class="mainPictureChoice" id="mainPictureChoice">
                        {{ form_label(form.mainPictureFilename) }}
                        {{ form_errors(form.mainPictureFilename) }}
                        
                        {{ form_widget(form.mainPictureFilename) }}
                    </div>
                    {{ form_row(form.draft) }}
                    {{ form_row(form.submit) }}
                    {{ form_row(form.cancel) }}
                {{ form_end(form) }}

                {# <img src="{{ asset('pictures/products/' ~ 'pp_umaru-65c21b71a769c.jpeg') }}" class="w-10"> #}
                <div style="background-image:url(/public/pictures/products/pp_umaru-65c21b71a769c.jpeg); height: 200px">
                    test
                </div>
            </div>

        </div>

    </div>
    <script>
        let options = document.getElementById('edit_product_picturesFilenames').children 

        for(const option of options) {
            option.removeAttribute('selected');
        }

        options[0].setAttribute('selected', 'selected');

    </script>
{% endif %}
{% endblock %}